/* Обнуление */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   font-size: 14px;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.75);
   font-family: Source Sans Pro;
}

.wrapper {
   max-width: 1440px;
   margin: 0 auto;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

._container {
   max-width: 1260px;
   margin: 0 auto;
   box-sizing: content-box;
   padding: 0 15px;
}

@media (max-width:768px) {
   ._container {
      max-width: 1260px;
      margin: 0 auto;
      box-sizing: content-box;
      padding: 0 22px;
   }
}

@media (max-width:320px) {
   ._container {
      max-width: 320px;
      margin: 0 auto;
      box-sizing: content-box;
      padding: 0 10px;
   }
}

/*---------------------------------------PAGES-------------------------------------------*/
.page {}

/*---------------------------------------HEADER------------------------------------------*/
.header {
   background-color: #4891FF;
}

.header__container {
   display: flex;
}

.header__logo {
   margin: 20px 915px 20px 0;
   min-width: 320px;
}

@media (max-width:768px) {
   .header__logo {
      margin: 20px 379px 20px 0;
   }
}

@media (max-width:320px) {
   .header__logo {
      min-width: auto;
      margin: 10px 63px 10px 0;
   }
}

.logo__title {
   font-size: 28px;
   font-weight: 900;
   line-height: calc(35/28*100%);
   color: #ffffff;
}

@media (max-width:320px) {
   .header__title {
      font-size: 24px;
   }
}

.logo__text {
   margin: 10px 0 0 0;
   font-size: 14px;
   line-height: calc(18/14*100%);
   opacity: 0.6;
   color: #ffffff;
}

@media (max-width:320px) {
   .header__text {
      font-size: 12px;
   }
}

.header__button {
   display: flex;
   align-items: center;
   opacity: 0.6;
}

/*---------------------------------------MAIN-BLOCK--------------------------------------*/
.main-block {
   position: relative;
}

.main-block__body {
   display: flex;
   margin: 0 -25px;
}

@media (max-width:320px) {
   .main-block__body {
      display: block;
      margin: 0;
   }
}

@media (max-width:768px) {
   .main-block__body {
      margin: 0 -17.5px;
   }
}

.main-block__column {
   padding: 0 25px;
   flex: 0 1 50%;
}

@media (max-width:768px) {
   .main-block__column {
      padding: 0 17.5px;
   }
}

@media (max-width:768px) {
   .column-1 {
      flex: 0 1 31.5%;
   }
}

@media (max-width:768px) {
   .column-2 {
      flex: 0 1 68.5%;
   }
}

.main-block__title {
   margin: 35px 0 10px 0;
   font-weight: 700;
   font-size: 18px;
   line-height: calc(23/18*100%);
}

@media (max-width:320px) {
   .main-block__title {
      width: 100%;
      font-size: 16px;
      margin: 25px 0 10px 0;
   }
}

.form__input {
   position: relative;
   font-weight: 600;
   line-height: calc(18/14*100%);
   color: #000000;
   opacity: 0.4;
   min-height: 40px;
   background-color: transparent;
   border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
   outline: none;
   transform: 0.3s;
   width: 100%;
}

@media (max-width:320px) {
   .form__imput {
      font-size: 12px;
      max-height: 38px;
   }
}

.form__input:focus {
   opacity: 1;
}

.form__input:focus~.form__label,
.form__input:not(:placeholder-shown)~.form__label {
   top: -5px;
   font-size: 10px;
   line-height: calc(13/10*100%);
   font-weight: 600px;
   color: #4891ff;
   opacity: 1;
}

.form__label {
   position: absolute;
   top: 15px;
   left: 0;
   font-size: 14px;
   font-weight: 600;
   line-height: calc(18/14*100%);
   color: #000000;
   opacity: 0.4;
   z-index: -1;
   transition: 0.3s;
}

.form-contacts__name {
   position: relative;
}

.form-contacts__phone {
   position: relative;
   margin: 30px 0 30px 0;
}

@media (max-width:320px) {
   .form-contacts__phone {
      margin: 15px 0 15px 0;
   }
}

.form-contacts__email {
   position: relative;

}

.form-attributes__container {
   display: flex;
}

.form-attributes__date {
   position: relative;
   flex: 0 1 30.303%;
}

.form-attributes__time {
   position: relative;
   flex: 0 1 21.212%;
   margin: 0 20px;
}

@media (max-width:768px) {
   .form-attributes__time {
      margin: 0 10px;
      flex: 0 1 24%;
   }
}

.form-attributes__duration {
   position: relative;
   flex: 0 1 48.485%;
}

.form-price__price {
   position: relative;
}

.form-price__input {
   font-weight: 600;
   line-height: calc(18/14*100%);
   background-color: #ffffff;
   border: 1px solid rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   min-height: 40px;
   max-width: 80px;
   text-align: center;
}

@media (max-width:320px) {
   .form-price__input {
      min-height: 36px;
      font-size: 12px;

   }
}

.form-price__label {
   position: absolute;
   top: 11.5px;
   left: 12px;
   font-size: 14px;
   font-weight: 600;
   line-height: calc(18/14*100%);
   color: #000000;
   z-index: 1;
}

@media (max-width:320px) {
   .form-price__label {
      top: 8.5px;
   }
}

.main-block__title_span {
   display: inline-block;
   margin: 35px 0 0 0;
}

.main-block__link {
   display: inline;
   line-height: calc(18/14*100%);
   color: #4891FF;
   margin: 0 0 0 5px;
}

@media (max-width:320px) {
   .main-block__link {
      margin: 0;
      font-size: 12px;
   }
}

.form-showplaces__places {
   position: relative;
}

.form__select {
   margin: 10px 0 53px 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   min-width: 370px;
   padding-bottom: 13px;
   font-weight: 600px;
   line-height: calc(18/14*100%);
   color: #000000;
   border: none;
   border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
   background-color: transparent;
   opacity: 0.4;
   outline: none;
}

@media (max-width:768px) {
   .form__select {
      min-width: 213px;
   }
}

@media (max-width:320px) {
   .form__select {
      width: 100%;
      max-height: 38px;
      font-size: 12px;
      margin: 10px 0 47px 0;

   }
}

.form__image {
   position: absolute;
   left: 355px;
   top: 22px;
   width: 14px;
   height: 6px;
   pointer-events: none;
}

@media (max-width:768px) {
   .form__image {
      left: 198px;
   }
}

@media (max-width:320px) {
   .form__image {
      left: 285px;
   }
}

.map__container {
   position: relative;
}

@media (max-width:768px) {
   .map img {
      width: 100%;
   }
}

@media (max-width:320px) {
   .map img {
      object-fit: cover;
      min-width: 320px;
      min-height: 280px;
      margin: 0 -10px;
   }
}

.map__point {
   position: absolute;
   z-index: 1;
   left: 363px;
   top: 125px;
}

@media (max-width:768px) {
   .map__point {
      left: 230px;
   }
}

@media (max-width:320px) {
   .map__point {
      left: 137px;
   }
}

.map__search {
   position: absolute;
   z-index: 3;
   left: 255px;
   top: 228px;
   background-color: #ffffff;
   border: 1px solid rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   font-size: 12px;
   line-height: calc(15/12*100%);
   text-align: center;
   min-width: 240px;
   min-height: 32px;
}

@media (max-width:768px) {
   .map__search {
      left: 125px;
   }
}

@media (max-width:320px) {
   .map__search {
      left: 0px;
      top: 242px;
      min-width: 300px;
      min-height: 28px;
   }
}

.main-block__button {
   position: absolute;
   background-color: #4891FF;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   font-weight: 700;
   font-size: 12px;
   line-height: calc(15/12*100%);
   color: #ffffff;
   min-height: 32px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 30px;
   left: 645px;
   top: 668px;
}

@media (max-width:768px) {
   .main-block__button {
      left: 309px;
      top: 792px;
   }
}

@media (max-width:320px) {
   .main-block__button {
      left: 85px;
      top: 835px;
   }
}