/* Reset */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html {
	font-size: 18px;
}

/*html,*/
body {
	height: 100%;
	line-height: 1;
	font-size: 1rem;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.75);
	font-family: Source Sans Pro;
}

@media(max-width: 48em) {

	html,
	body {
		font-size: 14px;
	}
}

@media(max-width: 32em) {

	html,
	body {
		font-size: 10px;
	}
}

.wrapper {
	margin: 0 auto;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/*---------------------------------------PAGES------------------------------------------*/
.page {}

.page__main-block {}

.page__instruction {}

.page__places {}

.page__video {}

.page__advantage {}

/*---------------------------------------HEADER------------------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header__container {
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	position: relative;
	bottom: 15px;
}

.header__image1 {
	position: absolute;
	top: 2px;
	left: -2px;
	z-index: 1;
}

.header__image2 {
	position: absolute;
	top: -2px;
	left: 2px;
	z-index: 3;
}

.header__image3 {
	position: absolute;
	z-index: 5;
}

.header__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7.2rem;
	height: 1.8rem;
	font-size: 0.7rem;
	font-weight: 700;
	line-height: 125%;
}

.button {
	background-color: #4891ff;
	box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.5px;
	border-radius: 5px;
	color: #ffffff;
}

.button:hover {
	background-color: #3c7ad7;
}

/*---------------------------------------MAIN-BLOCK------------------------------------------*/
.main-block {
	height: 47.89rem;
	background-image: url(Image/main_bcg2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
}


.main-block__body {
	padding: 16rem 0 0 0;
}

.main-block__title {
	font-size: 2.66rem;
	font-weight: 900;
	line-height: calc(64/48*100%);
	color: #ffffff;
}

.main-block__title_big-font {
	font-size: 3.33rem;
	line-height: calc(64/60*100%);
}

.main-block__subtitle {
	font-size: 1.5rem;
	line-height: calc(35/28*100%);
	margin: 0.6rem 0 2rem 0;
	color: #ffffff;
}

.main-block__buttons {
	display: flex;
}

.main-block__button-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9.5rem;
	height: 2.1rem;
	font-size: 0.66rem;
	font-weight: 700;
	line-height: calc(15/12*100%);
}

.main-block__button-1:not(:last-child) {
	margin: 0 10px 0 0;
}

.main-block__button-2 {
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.5px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.1rem;
	width: 7.2rem;
	color: #4891ff;
	font-size: 0.66rem;
	font-weight: 700;
	line-height: calc(15/12*100%);
}

.main-block__button-2:hover {
	background-color: rgba(206, 202, 202, 0.2);
}

/*---------------------------------------INSTRUCTION------------------------------------------*/
.instruction {
	margin: 4.4rem 0 0 0;
}

.instruction__container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 15px;
}

.instruction__title {
	text-align: center;
	margin: 0 0 2.2rem 0;
}

.title {
	font-weight: 900;
	font-size: 1.55rem;
	line-height: calc(35/28*100%);
	color: #000;
}

.instruction__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -2rem;
}

.instruction__column {
	padding: 0 2rem;
	flex: 0 1 50%;
}

.instruction__column:not(:nth-child(n+3)) {
	margin-bottom: 2.2rem;
}

.instruction__item {
	position: relative;
}

.instruction__number {
	padding: 24px 0 25px 20px;
}

.instruction__preview {
	position: absolute;
	left: 0;
	top: 0;
}

.instruction__text {
	line-height: calc(23/18*100%);
	color: rgba(0, 0, 0, 0.75);
}

/*---------------------------------------PLACES------------------------------------------*/
.places__title {
	text-align: center;
	margin: 4.4rem 0 2.2rem 0;
}

.places__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.83rem;
}

.places__column {
	padding: 0 0.83rem;
	flex: 0 1 33.333%;
	flex-grow: 1;
}

@media (max-width: 48em) {
	.places__column {
		flex: 0 1 50%
	}
}

.places__img {
	width: 100%;
}

.places__column:not(:nth-child(n+4)) {
	margin-bottom: 30px;
}

.places__item {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: #ffffff;
}

.places__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3.6rem;
}

.places__text {
	margin: 0 0 0 15px;
}

@media (max-width: 30em) {
	.places__text {
		margin: 0 0 0 7px;
	}
}

.places__button {
	display: flex;
	height: 1.8rem;
	width: 5rem;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
	font-size: 0.66rem;
	font-weight: 700;
	line-height: calc(15/12*100%);
}

.places__subtitle {
	margin: 30px 0 15px 0;
	font-size: 1.11rem;
	font-weight: 700;
	line-height: calc(25/20*100%);
}

.places__map {
	position: relative;
	max-width: 1170px;
	height: 360px;
	background-image: url(Image/MAP1-1.jpg);
	object-fit: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.map__icon {
	position: absolute;
	left: 45%;
	top: 50%;
	z-index: 51;
	display: flex;
	align-items: center;
	justify-content: center;
}

.map__form {
	display: flex;
	position: absolute;
	z-index: 50;
	left: 35%;
	top: 85%;
}

@media(max-width: 27em) {
	.map__form {
		left: 20%;
	}
}

.map__search {
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	width: 13.3rem;
	height: 2.11rem;
	text-align: center;
	font-size: 0.77rem;
	line-height: calc(18/14*100%);
}

.map__button {
	display: flex;
	width: 6rem;
	height: 2.11rem;
	justify-content: center;
	align-items: center;
	font-size: 0.66rem;
	font-weight: 700;
	line-height: calc(15/12*100%);
}

/*---------------------------------------VIDEO------------------------------------------*/
.video {
	margin: 4.44rem 0 0 0;
}

.video__body {
	height: 34.3rem;
	background-image: url(Image/video.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.video__icon {
	position: absolute;
	z-index: 50;
	left: 45%;
	top: 50%;
}

.video__button {
	position: absolute;
	left: 47%;
	top: 47%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.44rem;
	width: 10rem;
	font-weight: 900;
	line-height: calc(23/18*100%);
}

/*---------------------------------------ADVANTAGE------------------------------------------*/
.advantage {
	margin: 4.44rem 0 0 0;
}

.advantage__body {
	display: grid;
	grid-template-columns: 40% 56%;
	grid-template-areas:
		"column-1 column-2"
		"column-1 column-3";
	row-gap: 1.7rem;
	column-gap: 1.7rem;
}

.advantage__column-1 {
	grid-area: column-1;
}

.advantage__column-2 {
	grid-area: column-2;

}

.advantage__column-3 {
	grid-area: column-3;

}

@media (max-width: 35em) {
	.advantage__body {
		display: block;
	}

	.column:not(:last-child) {
		margin-bottom: 1.7rem;
	}
}

.advantage__item {
	background-color: #F0F3F8;
	height: 100%;
}

.advantage__title {
	display: flex;
	align-items: center;
	padding: 10px 0 5px 20px;
	font-size: 1.33rem;
	font-weight: 700;
	line-height: calc(30/24*100%);
	color: #000;
}

.advantage__image {
	margin-right: 10px;
}

.advantage__text {
	line-height: calc(23/18*100%);
	padding: 0 20px 20px 20px;
}

/*---------------------------------------FOOTER------------------------------------------*/
.footer {
	margin: 3.33rem 0 0 0;
}

.footer__wrapper {
	background: rgba(0, 0, 0, 0.04);
	padding: 2.22rem 0 2.22rem 0;
}

.footer__body {
	display: flex;
	justify-content: space-between;
}

.footer__title {
	font-weight: 700;
	line-height: calc(23/18*100%);
	margin: 0 0 15px 0;
}

.footer__mobile {
	font-size: 1.33rem;
	font-weight: 700;
	line-height: calc(30/24*100%);
}

.footer__email {
	font-size: 0.77rem;
	line-height: calc(18/14*100%);
	color: #4891ff;
}

.footer__social {
	margin: 2rem 0 0 0;
}

.footer__icon {
	display: flex;
	align-items: center;
	height: 1.4rem;
	margin: 0.9rem 0 0 0;
}

.footer__icon>*:not(:last-child) {
	margin: 0 1.6rem 0 0;
}

.footer__form {
	display: flex;
	flex-direction: column;
	max-width: 25.8rem;
}

.form__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.form__input {
	font-size: 0.77rem;
	font-weight: 600;
	line-height: calc(18/14*100%);
	color: #000;
	background-color: transparent;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
	outline: none;
	opacity: 1;
	transform: 0.3s;
	margin: 0 0 1.66rem 0;
	width: 100%;
	height: 2.44rem;
}

.form__input:focus~.form__label,
.form__input:not(:placeholder-shown)~.form__label {
	top: -0.277rem;
	font-size: 0.55rem;
	line-height: calc(13/10*100%);
	font-weight: 600;
	color: #4891ff;
	opacity: 1;
}

.form__label {
	position: absolute;
	top: 0.833rem;
	left: 0;
	font-size: 0.77rem;
	font-weight: 600;
	line-height: calc(18/14*100%);
	color: #000000;
	opacity: 0.4;
	z-index: -1;
	transition: 0.3s;
}

.form__name {
	position: relative;
	flex: 0 1 50%;
	padding: 0 15px 0 0;
}

.form__email {
	position: relative;
	flex: 0 1 50%;
}

.form__question {
	position: relative;
	flex: 0 1 100%;
}

.form__submit {
	text-align: center;
}

.form__button {
	cursor: pointer;
	font-size: 0.66rem;
	font-weight: 700;
	line-height: calc(15/12*100%);
	color: #4891ff;
	background-color: transparent;
}

.footer__rights {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 25px;
	font-size: 12px;
	line-height: calc(15/12*100%);
}

@media(max-width: 38em) {
	.footer__title {
		margin: 0 0 10px 0;
	}

	.footer__icon>img {
		width: 60%;
	}

	.footer__icon>*:not(:last-child) {
		margin: 0 1.3rem 0 0;
	}

	.footer__form {
		max-width: 20rem;
	}

	.form__label {
		top: 1.2rem;
		left: 0;
	}


	.form__input {
		margin: 0 0 1.3rem 0;
	}

	.form__input:focus~.form__label,
	.form__input:not(:placeholder-shown)~.form__label {
		top: -0.2rem;
	}
}

@media(max-width: 22.5em) {
	.footer__body {
		display: block;
	}

	.footer__form {
		max-width: 100%;
		margin: 20px 0 0 0;
	}
}